/*Encabezado*/

:root {
  --container-padding: calc((100% - 1200px) / 2);
  --primary-black-color: #212121;
  --primary-white-color: #ffffff;
  --primary-text-color: #757575;

  --background-dark-color: #2f303a;

  --accent-color: #2196f3;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  color: var(----primary-black-color);
}
a {
  text-decoration: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header-title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  text-align: right;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.subtitle {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  /* letter-spacing: 0.03em; */
  color: var(----primary-black-color);
  margin-bottom: 50px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
  padding-top: 32px;
  padding-bottom: 32px;
}
.nav-menu {
  display: flex;
  align-items: center;
  gap: 80px;
}
.contact-menu {
  display: flex;
  align-items: center;
  gap: 80px;
}
.contact {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
  fill: var(--accent-color);
}
.menu-nav {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: var(----primary-black-color);
}
.current {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: var(--accent-color);
}

.nav-menu .menu-nav:hover,
.nav-menu .menu-nav:focus,
.contact-menu .contact:hover,
.contact-menu .contact:focus {
  color:var(--accent-color);
  /* fill: var(--accent-color); */
}

/* Seccion Principal */

.title {
  background: linear-gradient(
    0deg,  
  rgba(47, 48, 58, 0.4),
  rgba(47, 48, 58, 0.4)
  ),
  url(../images/imagen-de-fondo.jpg);
  /* background-color: var(--background-dark-color); */
  padding: 200px var(--container-padding);
  text-align: center;
}

.title-1 {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin: 20px auto;
  width: 696px;
  box-sizing: border-box;
}

.title-button-primary {
  font-family: 'roboto';
  font-style: normal;
  font-weight: 700px;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  color: var(--primary-white-color);
  background: var(--accent-color);
  padding: 10px 32px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.feature-list {
  display: flex;
  gap: 30px;
}

.feature-items {
  flex-basis: calc((100% - 120px / 4));
}

.feature-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  /* letter-spacing: 0.03em; */
  /* text-transform: uppercase; */
  color: var(----primary-black-color);
  margin-bottom: 10px;
}

.info-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

/* Seccion 2 */

.what-we-do-list {
  display: flex;
  gap: 30px;
}
.what-we-do-items {
  flex-basis: calc((100% - 90px) / 3);
}

/* Seccion Album */

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.album {
  background: #f5f4fa;
}

.album-list {
  display: flex;
  gap: 30px;
}
.album-item {
  flex-basis: calc((100% - 120px) / 4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.staff {
  padding: 30px 45px;
}

.album-title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(----primary-black-color);
  text-align: center;
  margin-bottom: 10px;
}

.album-description {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  color: var(--primary-text-color);
  text-align: center;
  margin-bottom: 10px;
}

.button-container:hover {
  box-sizing: border-box;
  background: var(--accent-color);
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
.footbar {
  background-color: var(--background-dark-color);
  padding: 60px 0px;
  height: 252px;
}
.footbar .logo-footer {
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;

  color: var(--accent-color);
}
.footbar .location {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  letter-spacing: 0.03em;

  color: var(--primary-white-color);
}
.footbar .contact {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71px;
  color: rgba(255, 255, 255, 0.6);
}

.address .contact:hover,
.address .contact:focus {
  color: var(--accent-color);
}

/* Seccion Portafolio */

.button-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 50px;
}
.buttons {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: var(--primary-white-color);
  padding: 6px 24px;
  border: none;
  cursor: pointer;
}

.button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: var(--primary-text-color);
}

.filter {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: var(----primary-black-color);
  padding: 6px 24px;
  border: none;
  cursor: pointer;
}

.filter:focus,.filter:hover {
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portafolio-list {
  display:flex;
  flex-wrap: wrap;
  gap: 10px;
}

.portafolio-item:hover {
  box-sizing: border-box;
  width: 370px;
  height: 404px;
  flex-basis: calc((100% - 90px) /3);
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portafolio-staff {
  /* padding: 20px 24px; */
}
.portafolio .current {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: var(--primary-white-color);

  background: var(--accent-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.portafolio .button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: var(--primary-black-color);

  background: #ffffff;
  /* material shadow v1 */
}

.portafolio .portafolio-title {
  /* position: absolute; */
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--primary-black-color);
}
.portafolio .portafolio-description {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  color: var(--primary-text-color);
}
